<h1>Listing <%= @course.name%>'s editions</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Finish</th>
    <th>Location</th>
    <th>Active</th>
    <th>Seats</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @editions.each do |edition| %>
  <tr>
    <td><%= edition.start %></td>
    <td><%= edition.finish %></td>
    <td><%= edition.location %></td>
    <td><%= edition.active %></td>
    <td><%= edition.seats %></td>
    <td>
    <%= number_to_currency(edition.price, unit: "&euro;", format: "%n %u") %>
    </td>
    <td><%= link_to 'Show', course_editions_path([@course,edition]) %></td>
    <td><%= link_to 'Edit', [:edit, @course, edition] %></td>
    <td><%= link_to 'Destroy', [@course,edition], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edition', new_course_edition_path(@course) %>
