<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @edition.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @edition.finish %>
</p>

<p>
  <b>Location:</b>
  <%= ( @edition.location? ? link_to(@edition.location, @edition.location_map_link) : '') %>
</p>

<p>
  <b>Active:</b>
  <%= @edition.active %>
</p>

<p>
  <b>Seats:</b>
  <%= @edition.seats %>
</p>

<p>
  <b>Price in cents:</b>
  <%= @edition.price_in_cents %>
</p>

<p>
  <b>Course:</b>
  <%= @edition.course %>
</p>


<%= link_to 'Edit', edit_course_edition_path(@course,@edition) %> |
<%= link_to 'Back', course_editions_path(@course) %>
