<h1>Listing courses</h1>

<table>
<% @courses.each do |course| %>
  <tr>
    <th><%= course.name %></th>
    <td><%= course.description %></td>
    <td><%= link_to_editions(course) %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
