<h1>Listing courses</h1>

<%= link_to_unless(@filter.nil?, 'All', courses_path) %>
&nbsp;|&nbsp;
<%= link_to_unless(@filter == 'active', 'Active', courses_path(:filter => 'active')) %>
&nbsp;|&nbsp;
<%= link_to_unless(@filter == 'unactive', 'Unactive', courses_path(:filter => 'unactive')) %>

<table>
<% @courses.each do |course| %>
  <tr>
    <th><%= link_to course.name, course %></th>
    <td><%= course.description %></td>
    <td><%= link_to_editions(course) %></td>
    <% if current_user %>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
